.container {
  width: 1024px;
  margin: 0 auto;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
  font-weight: bold;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  margin: 15px auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container section {
  margin-bottom: 20px;
}