.checkmake {
  display: inline-block;
  line-height: 0;
  margin: 50px 0 0 50px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.white {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.black {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
}