.container {
  width: 700px;
  line-height: 1.3;
  margin: 0 auto;
}

h3 {
  margin: 20px 0 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

form {
  margin: 10px 0 20px;
}

.label {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.dir {
  margin: 20px auto;
}

.dir #dir {
  padding: 3px;
}

.btn {
  margin: 0 0 0 112px;
  padding: 7px;
  border: none;
  background-color: #1eb1e9;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.alert {
  color: #eb322c;
}