body {
  text-align: center;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h3 {
  margin: 20px auto;
  font-size: 30px;
}

form input {
  display: block;
  width: 476px;
  margin-bottom: 20px;
  padding: 10px;
}

form input[type=submit] {
  width: 150px;
  margin: 20px auto;
  border: 1px solid #44a5e6;
  background-color: #fff;
  color: #2491da;
  cursor: pointer;
}

.alert {
  color: #ff0000;
}

.btn {
  padding: 8px;
  border: 1px solid #ff0000;
  color: #ff0000;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ff0000;
  color: #fff;
}